body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
  }

h1 {
    color: rgb(28, 161, 202);
    text-decoration: none;
}

#chars button[data-active="true"] {
  background-color: rgb(28, 161, 202);
}

#chars button {
  background-color: gray;
  border: none;
  width:40px;
  height: 40px;
  margin: 3px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 10px;
}


label{
  display: inline-block;
  float: left;
  clear: left;
  width: 140px;
  text-align: left;
  margin-bottom: 1em;
}
input {
display: inline-block;
float: left;
}