/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
margin-block-start: 1em;
margin-block-end: 1em;
}

body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
    margin: 5px;
  }

h1 {
    color: rgb(28, 161, 202);
    text-decoration: none;
    margin-bottom: 0.2em;
}

h2 {
  color: rgb(229, 241, 245);
  text-decoration: none;
}

#chars button[data-active="true"] {
  background-color: rgb(28, 161, 202);
}

#gof-stop{
  background-color: rgb(245, 8, 8);
}

.nodisplay{
  display: none;
}

.gof button{
  background-color: gray;
  border: none;

  margin: 3px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;

  font-size: 1.1em;
  border-radius: 7px;
}

#chars button {
  background-color: gray;
  border: none;
  width:28px;
  height: 28px;
  margin: 3px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  border-radius: 7px;
}



label{
  float: left;
  clear: left;
  width: 140px;
  text-align: left;
  margin-bottom: 1em;
}
input, textarea {
  float: left;
  padding: 2px;
  width: 150px;
}



.setclear { clear: both; margin-bottom: 1em;}